body{
background-image: url("/images/bg.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
/*	Blue	0-0-255	0000ff
	Dodger Blue	30-144-255	1e90ff
	Deep Sky Blue	0-191-255	00bfff
	Sky Blue	135-206-250	87ceeb	*/
}
p.content{
margin-top:6%;
}
div.row.comments{

padding: .5% 5% .5% 1%;
overflow-wrap: break-word

}
p.comment {
margin-top: 8px;
margin-left: 50px;

}
div.ex{
    display: none;
}
    
div.row.comments:hover  div.ex {
    display: block;
}